.dropdown-menu {
    display: none;
    position: absolute;
    top: auto;
    /* bottom: 50%; */
    left: 30%;
}
.nav-item {
    position: relative;
}
.nav-item:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    margin-left: 20px;
}